<h1>User Create Page</h1>
<form action="/user/create" method="POST">
    <label for="user">User</label>
    <input name="username",id="user" type="text">
    <input type="submit" value="submit">
</form>

<hr>
<a href="/user/index">go back index</a>
<br></br>
<a href="/user/list">back to user list</a>